<div class="container">
	<h1>Pokemon Form</h1>
	<form>
		<div class="form-group">
			<label for="number">number</label>
        <input type="text"  class="form-control" required
         [(ngModel)]="model.number" name="number">
         TODO: remove this: {{model.number}}

		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text"  class="form-control" required
			 [(ngModel)]="model.name" name="name">
			 TODO: remove this: {{model.name}}
		</div>

		<div class="form-group">
			<label for="type">Type</label>
			<input type="text"  class="form-control" required
			 [(ngModel)]="model.type" name="type">
			 TODO: remove this: {{model.type}}
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
