<!DOCTYPE html>
<html ng-app="notesApp">

<head>
    <script src="angular.js">
    </script>
    <title>$http Post example</title>
    <style>
        .item {
            padding: 10px;
        }
    </style>
</head>

<body ng-controller="MainCtrl as mainCtrl">

    <h1>Hello Servers!</h1>

    <div ng-repeat="todo in mainCtrl.items" class="item">
        <div><span ng-bind="todo.labe"></span></div>
        <div> - by <span ng-bind="todo.author"> </span></div>
    </div>

    <div>
        <form name="addForm" ng-submit="mainCtrl.add()">
            <input type="text" placeholder="Label" ng-model="mainCtrl.newTodo.label" required>
            <input type="text" placeholder="Author" ng-model="mainCtrl.newTodo.author" required>
            <input type="submit" value="Add" ng-disabled="addForm.$invalid">
        </form>
    </div>



    <script>
        angular.module('notesApp', []).controller('MainCtrl', ['$http', function($http) {
            var self = this;
            self.items = [];
            self.newTodo = {};
            //get
            var fetchTodos = function() {
                $http.get('http://127.0.0.1:8080/JAXWSServer/crunchify/getMelWeekend')
                    .then(function(response) {
                        self.items = response.data;
                    }, function(errorResponse) {
                        console.error("GG");
                    });
            };
            fetchTodos();

            self.add = function() {
                $http.post('http://127.0.0.1:8080/JAXWSServer/crunchify/getMelWeekday', self.newTodo)
                    .then(fetchTodos).then(function(response) {
                        self.newTodo = {};
                    });
            };
        }]);
    </script>
</body>

</html>
